{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, sapiente tenetur blanditiis assumenda natus ad asperiores dolorum explicabo excepturi id nemo ut aliquam nam suscipit aspernatur! Nesciunt laudantium illo deserunt?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/logo-node.png" class="img-thumbnail" alt="Logo de NodeJS">
    </div>
</div>

{{> footer }}